*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# gradle specific git ignore
.gradle/

# thingworx specific git ignore
twx-lib/
lib/
build/
bin/

